html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#container-iframe-acuant, #fad-iframe-acuant {
  width: 100%;
  height: 100%;
}

#container-result {
  display: none;
  flex-direction: column;
  font-family: system-ui;
  margin: 5%;
}